
body
{
   background-color: cadetblue; 
   height: 100vh;
}
.bhanu
{
    background-color: brown;
}
#final
{
    background-color: chartreuse;
} 

#mydiv
{
    background-color: black; 
    color: white;
    /*height: 100px;
    width:100px;*/
    /*height: 50vh;
    width: 50vw;*/

    height: 50%;
    width: 50%;

}
#para
{
    height: 2em;
    color:aqua;
    background-color: white;

}