
body
{
   /* background-color: cadetblue; 
   height: 100vh; 
   background-color: rgba(107, 187, 187, 0.5); 
   background-color: hsl(30, 29%, 38%) ;*/
   background:linear-gradient( orange,white,green) ;
   height: 100vh;

}
.bhanu
{
    background-color: brown;
}
#final
{
    background-color: chartreuse ; 
} 

#mydiv
{
    background-color: hsl(51, 17%, 36%); 
    color: white;
    /*height: 100px;
    width:100px;*/
    /*height: 50vh;
    width: 50vw;*/

    height: 50%;
    width: 50%; 

} 
#para
{
    height: 2em;
    color:aqua;
    background-color: white;


}